Content/FirstPerson/Blueprints/BP_FirstPersonCharacter.uasset
Saved/Autosaves/Game/FirstPerson/Blueprints/BP_FirstPersonCharacter_Auto9.uasset
Saved/Autosaves/Game/FirstPerson/Blueprints/BP_FirstPersonCharacter_Auto7.uasset
Content/FirstPerson/Blueprints/BP_FirstPersonCharacter.uasset
Saved/Config/WindowsEditor
Saved/Logs
Saved/Config/CrashReportClient
Intermediate
